{% extends "base.html" %}
{% load static %}

{% block content %}
<!--start-image-slider-->
<div class="image-slider">
  <!-- Slideshow 1 Adicionar imagens ( Projeto Futuro )-->
  <ul class="rslides" id="slider1">
    <li>
      <figure>
	<img src="{% static 'website/images/medicamentos1.jpg' %}" alt="Medicamento">
      </figure>
    </li>
    <!--
	 <li><img src="{% static 'website/images/slider-image2.jpg' %}" alt=""></li>
    <li><img src="{% static 'website/images/slider-image1.jpg' %}" alt=""></li>
    -->
  </ul>
  <!-- Slideshow 2 -->
</div>
<!--End-image-slider-->

<div class="clear"> </div>
<main>
  <div class="content-grids">
    <div class="section group">
      <div class="listview_1_of_3 images_1_of_3">
	<section>
	  <div class="listimg listimg_1_of_2">
	    <a href = "login.html"><img src="{% static 'website/images/grid-img1.png' %}" alt = "Homem"></a>
	  </div>
	  <div class="text list_1_of_2">
	    <a href = "login.html"> <h3>Faça o Login</h3></a>
	    <p>Não é cadastrado?</p>
	    <div class="button"><span><a href="{% url 'signup' %}">Cadastre-se agora!</a></span></div>
	  </div>
	</section>
      </div>
      <div class="listview_1_of_3 images_1_of_3">
	<section>

	  <div class="listimg listimg_1_of_2">
	    <img src="{% static 'website/images/grid-img2.png' %}" alt = "Relogio">
	  </div>
	  <div class="text list_1_of_2">
	    <h3>Reserve Remédios</h3>
	    <p>Está precisando de remédio?</p>
	    <div class="button"><span><a href="{% url 'book' %}">Clique para reservar</a></span></div>

	  </div>
	</section>
      </div>
      <div class="listview_1_of_3 images_1_of_3">
	<section>
	  <div class="listimg listimg_1_of_2">
	    <img src="{% static 'website/images/grid-img2.png' %}" alt = "Relogio">
	  </div>
	  <div class="text list_1_of_2">
	    <h3>Doe Remédios</h3>
	    <p>Sobrando remédios?</p>
	    <div class="button"><span><a href="{% url 'donate' %}">Clique para doar</a></span></div>

	  </div>
	</section>
      </div>
      <div class="listview_1_of_3 images_1_of_3">
	<section>
	  <div class="listimg listimg_1_of_2">
	    <img src="{% static 'website/images/grid-img3.png' %}" alt = "Trabalhe Conosco">
	  </div>
	  <div class="text list_1_of_2">
	    <h3>Trabalhe Conosco</h3>
	    <p>Quer ajudar outras pessoas?</p>
	    <div class="button"><span><a href="#">Saiba mais!</a></span></div>
	  </div>
	</section>
      </div>
    </div>
  </div>
  <div class="clear"> </div>

</main>
{% endblock content %}
