{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
  <div class = "cadastros">
    <div class = "wrap">
      <section>
        <div class = "section group">
          <div class="listavisao_1_de_3 imagens_1_de_3">
            <a href="{% url 'customer_signup' %}">
              <div class="listaimagem listaimagem_1_de_2">
                <img src="{% static 'website/images/grid-img1.png' %}" alt = "Cadastro Cliente">
              </div>
              <div class="texto lista_1_de_2">
                <h3>Quero Ser Cliente</h3>
              </div>
            </a>
          </div>
          <div class="listavisao_1_de_3 imagens_1_de_3">
            <a href="{% url 'supplier_signup' %}">
              <div class="listaimagem listaimagem_1_de_2">
                <img src="{% static 'website/images/grid-img3.png' %}" alt = "Cadastro Fornecedor">
              </div>
              <div class="texto lista_1_de_2">
                <h3>Quero ser Fornecedor</h3>
              </div>
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
{% endblock %}
