{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
  <div class = "cadastrofornecedor">
    <div class = "wrap">
      <center>
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </center>
      <form name = "form" action="" method="POST">
        {% csrf_token %}
	<div class="texto-fornecedor"  >
	  <h4> Cadastro de Fornecedor</h4>
	  {{ form.as_p }}
	  <div class = "button">
	    <input name="botaocadastrar" type="submit" value="Cadastrar" />
	  </div>
	</div>
      </form>
    </div>
  </div>
</main>
<div class="clear"> </div>
{% endblock %}
